footer {
    background: var(--white);
    padding: 50px 0 0;
}

footer .container {
    display: flex;
}

footer .footer-box {
    padding: 0 10px;
}

footer .footer-box.fist h2,
footer .footer-box.fist img {
    margin-bottom: 20px;
}

footer .footer-box.fist {
    width: 35vw;
}

footer .grid-four-col {
    width: 65vw;
}

footer ul li,
footer ul li a {
    font-size: 18px;
    margin: 10px 0;
    display: block;
    color: var(--color-paragraph);
    font-family: "Poppins",
        sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer .footer-box.fist .social-media i {
    color: var(--white);
    background: var(--color-primary);
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
}

footer>p {
    text-align: center;
}

@media only screen and (max-width : 991px) {
    footer .container {
        display: flex;
        flex-direction: column;
    }

    footer .footer-box.fist,
    footer .grid-four-col {
        width: 100%;
    }

    footer .footer-box {
        margin-bottom: 30px;
    }

    footer .footer-box.fist h2,
    footer .footer-box.fist img {
        margin-bottom: 30px;
    }
}